<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seoultech.recipeschoolproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".RecipeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetAPI="q">
        <activity
            android:name=".view.main.account.setting.notice.NoticeListActivity"
            android:exported="true" />
        <activity
            android:name=".view.main.account.setting.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".view.main.recipe.EditRecipeActivity"
            android:exported="true" />
        <activity android:name=".view.main.chat.ChatActivity" />
        <activity android:name=".view.main.account.EditProfileActivity" />
        <activity android:name=".view.photoview.PhotoActivity" />
        <activity android:name=".view.main.recipe.RecipeDetailActivity" />
        <activity android:name=".view.post.PostRecipeActivity" />
        <activity android:name=".view.login.SignUpActivity" />
        <activity android:name=".view.login.LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.MainActivity" />
    </application>

</manifest>